

.hero__section {
  /* background: var(--hero-bg); */
  background-image: url('./../assets/images/about.jpg');
  background-size: cover;
  height: 300px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c31818;
  text-align: center;
}