.footer {
  background-color: #1e1e1e;
  color: #fff;
  text-align: left;
  padding: 3rem 0;
}

.footer_text {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    letter-spacing: 1px;
}

.footer_text ul {
    line-height: 2rem;
}

h1 {
  text-align: center;
  margin: 10px 0 20px 0 !important;
}

::placeholder {
  color: #fff !important;
  opacity: 1; 
}

::-ms-input-placeholder { 
  color: #fff;
}

input, textarea {
  color: #fff !important;
}

